<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light" style="background-color: #48C9B0;color: white;">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
      <b>Lab Booking Hub Service</b>
    </a>
  </nav> -->
  <mat-toolbar style="background-color: #48C9B0;color: white;">
     Lab Booking Hub Service
     <mat-icon>home</mat-icon>
</mat-toolbar>
<mat-progress-bar mode="buffer"></mat-progress-bar>
